<html>
<head>
<title>livecamera</title>
<link href="/static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<h1>Robot {{index}}</h1>

<img id="liveImg" src="/static/img/default.jpg" width="640" height="480">
<!-- <div> -->
<!-- <form method="post" class="form&#45;horizontal" onsubmit="return false"> -->
<!--   <input name="message" size=80 type="TEXT"></input> -->
<!--   <button type="submit" class="btn btn&#45;primary">送信</button> -->
<!-- </form> -->
<!-- </div> -->
<div>
<input id="qrButton" type="button" class="btn btn-default" value="QRコードを表示"></input>
<div id="qrCanvas"></div>
</div>

<script src="/static/js/jquery-2.1.1.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/application.js"></script>
<script>
  setIndex("{{index}}");
  setUIServerUrl("{{ui_server_url}}");
</script>
</body>
</html>
